<div class="sw-cms-el-moorl-shop-the-look"
     :class="element.config.style.value"
     :style="itemCss">
    <div class="hotspot-area">
        <div class="hotspot-area-image">
            <video v-if="element.config.videoActive.value"
                   autoplay
                   muted
                   loop
                   class="video">
                <source :src="mediaUrl" type="video/mp4">
            </video>

            <img v-else :src="mediaUrl">

            <div class="hotspot-area-image-overlay" ref="hotspotArea">
                <template
                        v-if="element.data.products"
                        v-for="product in element.data.products"
                >
                    <div
                            v-if="element.config.productMediaHotspots.value[product.id]"
                            :style="pointerPositionCss(product.id)"
                            class="hotspot-area-image-overlay-dot"
                            v-tooltip="{message: product.translated.name, position: 'top'}"
                    ></div>
                </template>
            </div>
        </div>
    </div>

    <div class="product-list">
        <sw-cms-el-moorl-product-buy-list v-model:element="element"/>
    </div>
</div>
