<div class="sw-cms-el-moorl-shop-the-look">
    <div class="hotspot-area">
        <div class="hotspot-area-image">
            <img :src="mediaUrl">
        </div>
        <div claas="hotspot-area-overlay">

        </div>
    </div>
    <div class="product-list">
        <div class="product-list-content">

        </div>
        <div class="product-list-buy">

        </div>
    </div>
</div>
