<div class="sw-cms-el-config-moorl-shop-the-look">

    <sw-entity-multi-select
        class="sw-cms-el-config-product-slider__products"
        :label="$tc('sw-cms.elements.productSlider.config.label.selection')"
        :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.selection')"
        v-model="productCollection"
        @change="onProductsChange"
        :context="productMultiSelectContext"
        :criteria="productMediaFilter">
        <template #result-label-property="{ item, index, labelProperty, searchTerm, getKey }">
            <sw-highlight-text
                :text="getKey(item,labelProperty) || getKey(item, `translated.${labelProperty}`)"
                :searchTerm="searchTerm">
            </sw-highlight-text>
            <span class="sw-cms-el-config-product-slider__select-product-number">{{ item.productNumber }}</span>
        </template>
    </sw-entity-multi-select>

    <sw-cms-mapping-field valueTypes="entity" entity="media" v-model="element.config.media">
        <sw-media-upload variant="regular"
                         :uploadTag="uploadTag"
                         :source="previewSource"
                         :allowMultiSelect="false"
                         :defaultFolder="cmsPageState.pageEntityName"
                         :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                         @media-upload-sidebar-open="onOpenMediaModal"
                         @media-upload-remove-image="onImageRemove">
        </sw-media-upload>

        <div class="sw-cms-el-config-image__mapping-preview" slot="preview" slot-scope="{ demoValue }">
            <img :src="demoValue.url" v-if="demoValue.url">
            <sw-alert class="sw-cms-el-config-image__preview-info" variant="info" v-else>
                {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
            </sw-alert>
        </div>
    </sw-cms-mapping-field>

    <sw-upload-store-listener
        :uploadTag="uploadTag"
        autoUpload
        @media-upload-finish="onImageUpload">
    </sw-upload-store-listener>

    <template v-if="products">

        <div v-if="element.config.productMediaHotspots.value[product.id]" v-for="product in products">

            <h4>{{ product.translated.name }}</h4>

            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 20px;">

                <sw-text-field :placeholder="$tc('moorl-cms.elements.general.config.placeholder.topPosition')"
                               v-model="element.config.productMediaHotspots.value[product.id].top">
                </sw-text-field>

                <sw-text-field :placeholder="$tc('moorl-cms.elements.general.config.placeholder.leftPosition')"
                               v-model="element.config.productMediaHotspots.value[product.id].left">
                </sw-text-field>

            </div>

        </div>

    </template>

    <sw-media-modal
        variant="regular"
        v-if="mediaModalIsOpen"
        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
        :entityContext="cmsPageState.entityName"
        :allowMultiSelect="false"
        :initialFolderId="cmsPageState.defaultMediaFolderId"
        @media-upload-remove-image="onImageRemove"
        @media-modal-selection-change="onSelectionChanges"
        @modal-close="onCloseModal">
    </sw-media-modal>

</div>
