<div class="sw-cms-el-config-moorl-shop-the-look">
    <sw-field v-model="element.config.enableList.value"
              bordered
              type="switch"
              :label="$tc(snippetPrefix + 'label.enableList')">
    </sw-field>

    <sw-field v-model="element.config.enablePrices.value"
                  bordered
                  type="switch"
                  :label="$tc(snippetPrefix + 'label.enablePrices')">
    </sw-field>

    <sw-field v-model="element.config.enableAddToCart.value"
                  bordered
                  type="switch"
                  :label="$tc(snippetPrefix + 'label.enableAddToCart')">
    </sw-field>

    <sw-field v-model="element.config.enableDirectUrl.value"
              bordered
              type="switch"
              :label="$tc(snippetPrefix + 'label.enableDirectUrl')">
    </sw-field>

    <sw-field v-model="element.config.enableAnimatedHotspots.value"
              bordered
              type="switch"
              :label="$tc(snippetPrefix + 'label.enableAnimatedHotspots')">
    </sw-field>

    <sw-entity-multi-select
        class="sw-cms-el-config-product-slider__products"
        :label="$tc('sw-cms.elements.productSlider.config.label.selection')"
        :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.selection')"
        v-model="productCollection"
        @change="onProductsChange"
        :context="productMultiSelectContext"
        :criteria="productMediaFilter">
        <template #result-label-property="{ item, index, labelProperty, searchTerm, getKey }">
            <sw-highlight-text
                :text="getKey(item,labelProperty) || getKey(item, `translated.${labelProperty}`)"
                :searchTerm="searchTerm">
            </sw-highlight-text>
            <span class="sw-cms-el-config-product-slider__select-product-number">{{ item.productNumber }}</span>
        </template>
    </sw-entity-multi-select>

    <sw-media-upload-v2 variant="regular"
                        :uploadTag="uploadTag"
                        :source="previewSource"
                        :allowMultiSelect="false"
                        :defaultFolder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenMediaModal"
                        @media-upload-remove-image="onImageRemove">
    </sw-media-upload-v2>

    <sw-upload-listener
        :uploadTag="uploadTag"
        autoUpload
        @media-upload-finish="onImageUpload">
    </sw-upload-listener>

    <div class="sw-cms-el-config-image__mapping-preview" slot="preview" slot-scope="{ demoValue }">
        <img :src="demoValue.url" v-if="demoValue.url">
        <sw-alert class="sw-cms-el-config-image__preview-info" variant="info" v-else>
            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
        </sw-alert>
    </div>

    <sw-field v-model="element.config.videoActive.value"
              bordered
              type="switch"
              :label="$tc(snippetPrefix + 'label.videoActive')">
    </sw-field>

    <template v-if="products">
        <div class="sw-field">
            {{ $tc(snippetPrefix + 'label.positionDescription') }}
        </div>

        <div v-if="element.config.productMediaHotspots.value[product.id]" v-for="product in products">
            <p>
                {{ product.translated.name }}
            </p>

            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 20px;">
                <sw-text-field :placeholder="$tc(snippetPrefix + 'label.topPosition')"
                               v-model="element.config.productMediaHotspots.value[product.id].top">
                </sw-text-field>

                <sw-text-field :placeholder="$tc(snippetPrefix + 'label.leftPosition')"
                               v-model="element.config.productMediaHotspots.value[product.id].left">
                </sw-text-field>
            </div>
        </div>
    </template>

    <sw-field v-model="element.config.custom1.value"
              :label="$tc(snippetPrefix + 'label.custom1')">
    </sw-field>

    <sw-field v-model="element.config.custom2.value"
              :label="$tc(snippetPrefix + 'label.custom2')">
    </sw-field>

    <sw-field v-model="element.config.custom3.value"
              :label="$tc(snippetPrefix + 'label.custom3')">
    </sw-field>

    <sw-field v-model="element.config.custom4.value"
              :label="$tc(snippetPrefix + 'label.custom4')">
    </sw-field>

    <sw-media-modal-v2
        variant="regular"
        v-if="mediaModalIsOpen"
        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
        :entityContext="cmsPageState.entityName"
        :allowMultiSelect="false"
        :initialFolderId="cmsPageState.defaultMediaFolderId"
        @media-upload-remove-image="onImageRemove"
        @media-modal-selection-change="onSelectionChanges"
        @modal-close="onCloseModal">
    </sw-media-modal-v2>
</div>
