<div class="sw-cms-preview-moorl-shop-the-look">
    <div class="sw-cms-el-preview-moorl-shop-the-look">
        <img src="/bundles/administration/static/img/cms/preview_mountain_large.jpg">
    </div>
</div>
