<div class="sw-cms-preview-moorl-shop-the-look">
    <div class="sw-cms-el-preview-moorl-shop-the-look">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <div class="container">
            <div class="container-icon">
                <i class="fas fa-bullseye"></i>
            </div>
        </div>
    </div>
</div>
