<div class="sw-cms-preview-moorl-shop-the-look">
    <div class="sw-cms-el-preview-moorl-shop-the-look">
        <div class="profile">
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <blockquote>
                Shop The Look
            </blockquote>
            <h3>Jon Doe <span>Company</span></h3>
        </div>
    </div>
    <div class="sw-cms-el-preview-moorl-shop-the-look">
        <div class="profile">
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <blockquote>
                Shop The Look
            </blockquote>
            <h3>Jon Doe <span>Company</span></h3>
        </div>
    </div>
    <div class="sw-cms-el-preview-moorl-shop-the-look">
        <div class="profile">
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <blockquote>
                Shop The Look
            </blockquote>
            <h3>Jon Doe <span>Company</span></h3>
        </div>
    </div>
</div>
